*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(1, 153, 255);
    color: rgb(0, 0, 0);
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: center;
}

.contenido{
    display: flex;
    flex-direction: column;
}

.header{
    flex: 1;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
    align-items: center;
}
.headings{
    flex:1.5;
}
.inicio{
    flex:0.1;
    
}

.reservas{
    margin-top: 2rem;
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.reserva{
    background-color: antiquewhite;
    flex:1;
    max-width:20vw;
    min-width: 20rem;
    text-align: left;
    border: 1px solid #000000;
    padding:1rem;
    border-radius: 0.75rem;
    margin:1rem;
}
.reserva:hover{
    cursor: pointer;

}
img{
    max-width: 100%;
}
a i{
    margin: 1rem;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.inicio a i{
    font-size: 1.7rem;

}

h1,h2{
    margin:1rem;
}
.reserva a i{
    font-size: 1.1rem;
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.reserva:hover .cancelar a i,.cancelar a i:hover{
    visibility: visible;
    opacity: 0.5;
}
.cancelar a i:hover{
    color: rgb(206, 43, 43);
}