{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas Pacific Reef</title>

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'HotelMVP/css/home.css' %}">

</head>
<body>

    <!-- Titulo -->
    <h1 id="marca">Reservas Pacific Reef</h1>

    <!-- Main contenido -->
    <div class="contenido">

        <div id=Marca class="habitaciones">
            <a href="detalles">
                <img src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <h2>Premiun Habitacion</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quas delectus veritatis libero minima rerum fugiat optio ex quasi beatae, voluptatem iusto et ratione facilis odit accusamus, enim doloremque earum!</p>
            </a>
        </div>

        <div class="habitaciones">
            <a href="detalles">
                <img src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <h2>Premiun Habitacion</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quas delectus veritatis libero minima rerum fugiat optio ex quasi beatae, voluptatem iusto et ratione facilis odit accusamus, enim doloremque earum!</p>
            </a>
        </div>

        <div class="habitaciones">
            <a href="detalles">
                <img src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <h2>Premiun Habitacion</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quas delectus veritatis libero minima rerum fugiat optio ex quasi beatae, voluptatem iusto et ratione facilis odit accusamus, enim doloremque earum!</p>
            </a>
        </div>

        <div class="habitaciones">
            <a href="detalles">
                <img src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <h2>Premiun Habitacion</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quas delectus veritatis libero minima rerum fugiat optio ex quasi beatae, voluptatem iusto et ratione facilis odit accusamus, enim doloremque earum!</p>
            </a>
        </div>

        <div class="habitaciones">
            <a href="detalles">
                <img src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <h2>Premiun Habitacion</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quas delectus veritatis libero minima rerum fugiat optio ex quasi beatae, voluptatem iusto et ratione facilis odit accusamus, enim doloremque earum!</p>
            </a>
        </div>

    </div>

</body>
</html>